<div class="container">
  <p>First Name: <%= @student.first_name.capitalize %></p>
  <p>Last Name: <%= @student.last_name.capitalize %></p>
  <p>House: <%= @student.house.name.capitalize %></p>
  <p>Age: <%= @student.age %></p>
</div>
<hr>
<a href="/students"><< Back to results</a>
